<section class="skills panelBorder">
  <h2 style="flex-direction: row">
    <span style="flex: 50%;">
      {{localize "NEPHESHRIA.itemType.types.spell"}}
    </span>
    <a class="item-create" data-type="spell" style="text-align: right;flex: 50%;" title="{{NEPHESHRIA.sheet.addSpell}}">
      <i class="fas fa-plus"></i>
    </a>
  </h2>
  {{#each system.actor.skills as |skill id|}}
  <div class="spell-item item" data-item-id="{{spell._id}}">
    <input class="spell-name inline-edit" data-field="name" type="text" value="{{spell.name}}" placeholder="{{localize "NEPHESHRIA.itemType.types.spellName"}}"/>
    <input class="spell-level inline-edit" data-field="data.level.number" type="number" value="{{spell.data.level.number}}" placeholder="{{localize "NEPHESHRIA.itemType.types.spellLevel"}}"/>
  </div>
  {{/each}}
</section>