<div class="requirements">
    <div class="grid-container grid-2col">

        <h3 style="text-align: center;">{{ localize  "NEPHESHRIA.word.body"}}</h3>
        <h3 style="text-align: center">{{ localize  "NEPHESHRIA.word.soul"}}</h3>

        <div class="grid-item">
            {{ localize  "NEPHESHRIA.ability.str"}}
            <input id="system.item.requirement.str" name="system.item.requirement.str" type="number" value="{{system.item.requirement.str}}" data-dtype="Number">
        </div>
        <div class="grid-item">
            {{ localize  "NEPHESHRIA.ability.inst"}}
            <input id="system.item.requirement.inst" name="system.item.requirement.inst" type="number" value="{{system.item.requirement.inst}}" data-dtype="Number">
        </div>

        <div class="grid-item">
            {{ localize  "NEPHESHRIA.ability.dex"}}
            <input id="system.item.requirement.dex" name="system.item.requirement.dex" type="number" value="{{system.item.requirement.dex}}" data-dtype="Number">
        </div>
        <div class="grid-item">
            {{ localize  "NEPHESHRIA.ability.mag"}}
            <input id="system.item.requirement.mag" name="system.item.requirement.mag" type="number" value="{{system.item.requirement.mag}}" data-dtype="Number">
        </div>

        <div class="grid-item">
            {{ localize  "NEPHESHRIA.ability.con"}}
            <input id="system.item.requirement.con" name="system.item.requirement.con" type="number" value="{{system.item.requirement.con}}" data-dtype="Number">
        </div>
        <div class="grid-item">
            {{ localize  "NEPHESHRIA.ability.int"}}
            <input id="system.item.requirement.int" name="system.item.requirement.int" type="number" value="{{system.item.requirement.int}}" data-dtype="Number">
        </div>
    </div>
</div>