<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64">
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" style="width: available"></h1>
        <h1><input name="level" type="number" value="{{item.leve}}" step="1" min="1" max="9" style="text-align: center; width: min-content" placeholder="0"></h1>
    </header>
    <h2>Description: </h2>
    <textarea name="description">{{item.description}}</textarea>
</form>