<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64">
        <h1><input name="weapon.name" type="text" value="{{item.name}}" placeholder="Name"></h1>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "NEPHESHRIA.item.description}}</a>
        <a class="item" data-tab="attributes">{{localize "NEPHESHRIA.item.attributes}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
            {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{!-- As you add new fields, add them in here! --}}
            <div class="resource">
                <table>
                    <thead>
                    <tr>
                        <h2>{{localize "NEPHESHRIA.item.itemInfo"}}:</h2>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <label for="weapon.ability">{{localize "NEPHESHRIA.item.ability"}}</label>
                        </td>
                        <td>
                            <select id="weapon.ability" name="weapon.ability">
                                {{#select item.ability}}
                                {{#each config.ability as |name ability|}}
                                <option value="{{ability}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="weapon.damage">{{localize "NEPHESHRIA.item.damage"}}</label>
                        </td>
                        <td>
                            <input id="weapon.damage" name="weapon.damage" type="text" value="{{item.damage}}" data-dtype="Number">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="weapon.requirement">{{localize "NEPHESHRIA.item.requirement"}}</label>
                        </td>
                        <td>
                            <input id="weapon.requirement" name="weapon.requirement" type="number" value="{{item.requirement}}" data-dtype="Number">
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <label for="weapon.value.number">{{localize "NEPHESHRIA.item.value"}}</label>
                            <label for="weapon.value.unit"></label>
                        </td>
                        <td>
                            <input id="weapon.value.number" name="weapon.value.number" type="number" value="{{item.value.number}}" data-dtype="Number">
                            <input id="weapon.value.unit" name="weapon.value.unit" type="text" value="{{item.value.unit}}" data-dtype="String">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="weapon.weight">{{localize "NEPHESHRIA.item.weight"}}</label>
                        </td>
                        <td>
                            <input id="weapon.weight" name="weapon.weight" type="number" value="{{item.weight}}" data-dtype="Number">Kg
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="weapon.quantity">{{localize "NEPHESHRIA.item.quantity"}}</label>
                        </td>
                        <td>
                            <input id="weapon.quantity" name="weapon.quantity" type="number" value="{{item.quantity}}" data-dtype="Number">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</form>